<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @holiday_type.name %>
</p>

<%= link_to 'Edit', edit_holiday_type_path(@holiday_type) %> |
<%= link_to 'Back', holiday_types_path %>
